@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}