@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

a {
   text-decoration: none;
   color: inherit;
}

main {
  background-color: #fffac9;
}

.botao {
    border: none;
    padding: 8px 14px;
    border-radius: 7px;
    background-color: #992525;
    color: white;
}